.vscode/
.idea/

build/
release/
translations/*.qm

# rpm package
rpm/BUILD/
rpm/BUILDROOT/
rpm/*RPMS/
rpm/SOURCES/
debug*.list
elfbins.list

# appimage
*.AppImage

# flatpak
.flatpak-builder
repo/
*.flatpak
