Source: stacer
Section: utils
Priority: optional
Maintainer: Quentin Lienhardt <pro@quentium.fr>
Build-Depends:
 cmake,
 debhelper (>= 13),
 qt6-base-dev,
 qt6-tools-dev,
 qt6-tools-dev-tools,
 qt6-l10n-tools,
 libqt6opengl6-dev,
 libqt6charts6-dev,
 libqt6svg6-dev,
 qt6-wayland-dev,
 libgl-dev,
 libxkbcommon-dev,
 libvulkan-dev,
Standards-Version: 4.7.4
Rules-Requires-Root: no
Vcs-Browser: https://github.com/QuentiumYT/Stacer
Vcs-Git: https://github.com/QuentiumYT/Stacer.git
Homepage: https://stacer.quentium.fr/

Package: stacer
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: systemd, curl
Description: Linux system optimizer and monitoring
 Monitor your system (CPU, memory, disk) in a graphical application (Qt).
 Change and monitor your services. Summarizes basic system information and
 can show network download/upload speeds/totals.
