[Desktop Entry]
Type=Application
Name=Acters
GenericName=Linux System Optimizer and Monitoring
GenericName[fr]=Optimiseur et moniteur du système Linux
GenericName[ru]=Оптимизатор и монитор системы Linux
Comment=Optimize and monitor your Linux system
Comment[fr]=Optimisation et contrôle de votre système Linux
Comment[ru]=Оптимизация и контроль вашей системы Linux
Icon=fr.quentium.acters
Hidden=false
Exec=stacer
Terminal=false
Categories=Utility;System;Monitor
